WebAgencia/Service References/proxyCentros/Centros.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Centros" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/SCTServiceWCF/Servicios/Centros.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/SCTServiceWCF/Servicios/Centros.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/SCTServiceWCF/Servicios/Centros.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SCTServiceWCF.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICentro_CrearCentro_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearCentro" />
  </wsdl:message>
  <wsdl:message name="ICentro_CrearCentro_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearCentroResponse" />
  </wsdl:message>
  <wsdl:message name="ICentro_ObtenerCentro_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCentro" />
  </wsdl:message>
  <wsdl:message name="ICentro_ObtenerCentro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCentroResponse" />
  </wsdl:message>
  <wsdl:message name="ICentro_ModificarCentro_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarCentro" />
  </wsdl:message>
  <wsdl:message name="ICentro_ModificarCentro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarCentroResponse" />
  </wsdl:message>
  <wsdl:message name="ICentro_ListarCentro_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCentro" />
  </wsdl:message>
  <wsdl:message name="ICentro_ListarCentro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCentroResponse" />
  </wsdl:message>
  <wsdl:portType name="ICentro">
    <wsdl:operation name="CrearCentro">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentro/CrearCentro" message="tns:ICentro_CrearCentro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentro/CrearCentroResponse" message="tns:ICentro_CrearCentro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCentro">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentro/ObtenerCentro" message="tns:ICentro_ObtenerCentro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentro/ObtenerCentroResponse" message="tns:ICentro_ObtenerCentro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarCentro">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentro/ModificarCentro" message="tns:ICentro_ModificarCentro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentro/ModificarCentroResponse" message="tns:ICentro_ModificarCentro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCentro">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentro/ListarCentro" message="tns:ICentro_ListarCentro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentro/ListarCentroResponse" message="tns:ICentro_ListarCentro_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICentro" type="tns:ICentro">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearCentro">
      <soap:operation soapAction="http://tempuri.org/ICentro/CrearCentro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCentro">
      <soap:operation soapAction="http://tempuri.org/ICentro/ObtenerCentro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarCentro">
      <soap:operation soapAction="http://tempuri.org/ICentro/ModificarCentro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCentro">
      <soap:operation soapAction="http://tempuri.org/ICentro/ListarCentro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Centros">
    <wsdl:port name="BasicHttpBinding_ICentro" binding="tns:BasicHttpBinding_ICentro">
      <soap:address location="http://localhost/SCTServiceWCF/Servicios/Centros.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>