WebAgencia/Service References/proxyTarifas/Tarifa1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/SCTServiceWCF/Servicios/Tarifa.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SCTServiceWCF.Dominio" />
  <xs:element name="RegistrarTarifa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NOM_TARIFA" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PRECIO" type="xs:decimal" />
        <xs:element minOccurs="0" name="MONEDA" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarTarifaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SCTServiceWCF.Dominio" minOccurs="0" name="RegistrarTarifaResult" nillable="true" type="q1:Tarifa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarTarifa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_TARIFA" type="xs:int" />
        <xs:element minOccurs="0" name="NOM_TARIFA" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PRECIO" type="xs:decimal" />
        <xs:element minOccurs="0" name="MONEDA" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarTarifaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SCTServiceWCF.Dominio" minOccurs="0" name="ModificarTarifaResult" nillable="true" type="q2:Tarifa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTarifa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_TARIFA" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTarifaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTarifa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_TARIFA" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTarifaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SCTServiceWCF.Dominio" minOccurs="0" name="ObtenerTarifaResult" nillable="true" type="q3:Tarifa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTarifa">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTarifaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SCTServiceWCF.Dominio" minOccurs="0" name="ListarTarifaResult" nillable="true" type="q4:ArrayOfTarifa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>