WebAgencia/Service References/proxyVehiculos/Vehiculos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SCTServiceWCF.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SCTServiceWCF.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Vehiculo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ANNIO_FABRICACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLAG_ANULA" type="xs:int" />
      <xs:element minOccurs="0" name="ID_EMPRESA" type="xs:int" />
      <xs:element minOccurs="0" name="ID_VEHICULO" type="xs:int" />
      <xs:element minOccurs="0" name="MARCA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODELO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_UNIDAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLACA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vehiculo" nillable="true" type="tns:Vehiculo" />
  <xs:complexType name="ArrayOfVehiculo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vehiculo" nillable="true" type="tns:Vehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehiculo" nillable="true" type="tns:ArrayOfVehiculo" />
</xs:schema>