WebAgencia/Service References/proxyVehiculos/Vehiculos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Vehiculos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/SCTServiceWCF/Servicios/Vehiculos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/SCTServiceWCF/Servicios/Vehiculos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/SCTServiceWCF/Servicios/Vehiculos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SCTServiceWCF.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVehiculos_CrearVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearVehiculo" />
  </wsdl:message>
  <wsdl:message name="IVehiculos_CrearVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearVehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculos_ObtenerVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerVehiculo" />
  </wsdl:message>
  <wsdl:message name="IVehiculos_ObtenerVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerVehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculos_ModificarVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarVehiculo" />
  </wsdl:message>
  <wsdl:message name="IVehiculos_ModificarVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarVehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculos_ListarVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarVehiculo" />
  </wsdl:message>
  <wsdl:message name="IVehiculos_ListarVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarVehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="IVehiculos_EliminarVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarVehiculo" />
  </wsdl:message>
  <wsdl:message name="IVehiculos_EliminarVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarVehiculoResponse" />
  </wsdl:message>
  <wsdl:portType name="IVehiculos">
    <wsdl:operation name="CrearVehiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehiculos/CrearVehiculo" message="tns:IVehiculos_CrearVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehiculos/CrearVehiculoResponse" message="tns:IVehiculos_CrearVehiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerVehiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehiculos/ObtenerVehiculo" message="tns:IVehiculos_ObtenerVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehiculos/ObtenerVehiculoResponse" message="tns:IVehiculos_ObtenerVehiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarVehiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehiculos/ModificarVehiculo" message="tns:IVehiculos_ModificarVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehiculos/ModificarVehiculoResponse" message="tns:IVehiculos_ModificarVehiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarVehiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehiculos/ListarVehiculo" message="tns:IVehiculos_ListarVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehiculos/ListarVehiculoResponse" message="tns:IVehiculos_ListarVehiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarVehiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehiculos/EliminarVehiculo" message="tns:IVehiculos_EliminarVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehiculos/EliminarVehiculoResponse" message="tns:IVehiculos_EliminarVehiculo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVehiculos" type="tns:IVehiculos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearVehiculo">
      <soap:operation soapAction="http://tempuri.org/IVehiculos/CrearVehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerVehiculo">
      <soap:operation soapAction="http://tempuri.org/IVehiculos/ObtenerVehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarVehiculo">
      <soap:operation soapAction="http://tempuri.org/IVehiculos/ModificarVehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarVehiculo">
      <soap:operation soapAction="http://tempuri.org/IVehiculos/ListarVehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarVehiculo">
      <soap:operation soapAction="http://tempuri.org/IVehiculos/EliminarVehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Vehiculos">
    <wsdl:port name="BasicHttpBinding_IVehiculos" binding="tns:BasicHttpBinding_IVehiculos">
      <soap:address location="http://localhost/SCTServiceWCF/Servicios/Vehiculos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>