TestEmpresaService/Service References/ServiceReference1/Empresas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Empresas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:20001/Servicios/Empresas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:20001/Servicios/Empresas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:20001/Servicios/Empresas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SCTServiceWCF.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmpresas_CrearEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearEmpresa" />
  </wsdl:message>
  <wsdl:message name="IEmpresas_CrearEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresas_ObtenerEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpresa" />
  </wsdl:message>
  <wsdl:message name="IEmpresas_ObtenerEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresas_ModificarEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarEmpresa" />
  </wsdl:message>
  <wsdl:message name="IEmpresas_ModificarEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresas_EliminarEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarEmpresa" />
  </wsdl:message>
  <wsdl:message name="IEmpresas_EliminarEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresas_ListarEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEmpresa" />
  </wsdl:message>
  <wsdl:message name="IEmpresas_ListarEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEmpresaResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmpresas">
    <wsdl:operation name="CrearEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresas/CrearEmpresa" message="tns:IEmpresas_CrearEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresas/CrearEmpresaResponse" message="tns:IEmpresas_CrearEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresas/ObtenerEmpresa" message="tns:IEmpresas_ObtenerEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresas/ObtenerEmpresaResponse" message="tns:IEmpresas_ObtenerEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresas/ModificarEmpresa" message="tns:IEmpresas_ModificarEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresas/ModificarEmpresaResponse" message="tns:IEmpresas_ModificarEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresas/EliminarEmpresa" message="tns:IEmpresas_EliminarEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresas/EliminarEmpresaResponse" message="tns:IEmpresas_EliminarEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresas/ListarEmpresa" message="tns:IEmpresas_ListarEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresas/ListarEmpresaResponse" message="tns:IEmpresas_ListarEmpresa_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmpresas" type="tns:IEmpresas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearEmpresa">
      <soap:operation soapAction="http://tempuri.org/IEmpresas/CrearEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpresa">
      <soap:operation soapAction="http://tempuri.org/IEmpresas/ObtenerEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarEmpresa">
      <soap:operation soapAction="http://tempuri.org/IEmpresas/ModificarEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarEmpresa">
      <soap:operation soapAction="http://tempuri.org/IEmpresas/EliminarEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEmpresa">
      <soap:operation soapAction="http://tempuri.org/IEmpresas/ListarEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Empresas">
    <wsdl:port name="BasicHttpBinding_IEmpresas" binding="tns:BasicHttpBinding_IEmpresas">
      <soap:address location="http://localhost:20001/Servicios/Empresas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>